body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:  linear-gradient(90deg, rgb(247, 166, 179), rgb(243, 224, 211));
    font-family: 'Helvetica', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}
.header_text:hover{
    opacity: 85%;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}